<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="mystyle.css" />
		<title>Library</title>
	</head>
	<body>
		<header>
			<div class="header">
				<div class="header__right">
					<div class="header__right--gray">
						<span class="header__span">Help center</span>
						<img src="gray_round.png" />
						<span class="header__span">Our Support</span>
					</div>
					<div class="header__right--blue">
						<img src="user.jpg" class="user-pic" />
						<span class="header__span">John Doe</span>
						<img src="arrow.png" class="arrow-pic"/> 
					</div>
				</div>
			</div>
		</header>
		<div id="center-elements">
			<aside>
				<div class="menu">
						<div class="menu__block1">
							<button><b>+</b>   ADD A BOOK</button>
						</div>
						<ul class="menu__block2">
							<li><img src="book.png" />Now Reading</li>
							<li><img src="globe.png" />Browse</li>
							<li><img src="buy.png" />Buy Books</li>
							<li><img src="star.png" />Favourite Books</li>
							<li><img src="menu.png" />Wishlist</li>
							<li><img src="history.png" />History</li>
						</ul>
						<ul class="menu__block3">
							<li><img src="red_round.png" />Must Read Titles</li>
							<li><img src="yellow_round.png" />Best Of List</li>
							<li><img src="blue_round.png" />Classic Novels</li>
							<li><img src="indigo_round.png" />Non Fiction</li>
						</ul>
						<div class="menu__block4">
							<ul>
								<li><img src="history.png" />You added <span class="info_book">Fight Club</span> by <span class="info_book">Chuck Palahniuk</span> to your <span class="info_book">Must Read Titles</span></li>
								<li><span>24 minutes ago</span></li>
							</ul>
							<ul>
								<li><img src="history.png" />You added <span class="info_book">The Trail</span> by <span class="info_book">Franz Kafka</span> to your <span class="info_book">Must Read Titles</span></li>
								<li><span>48 minutes ago</span></li>
							</ul>
						</div>
				</div>
			</aside>	
			<main>
				<div class="main">
					<div class="main__one">
						<span>Browse Available Books</span>
					</div>
					<div class="main__two">
						<div class="main__two__left">
							<input name="filter" checked="checked" type="radio" class="main__two__buttons" id="all_books"/><label class="main__two__labeles" for="all_books">All Books</label>
							<input name="filter" type="radio" class="main__two__buttons" id="most_recent"/><label class="main__two__labeles" for="most_recent">Most Recent</label>
							<input name="filter" type="radio" class="main__two__buttons" id="most_popular"/><label class="main__two__labeles" for="most_popular">Most Popular</label>
							<input name="filter" type="radio" class="main__two__buttons" id="free_books"/><label class="main__two__labeles" for="free_books">Free Books</label>
						</div>
						<div class="search">
							<input type="search" name="search" placeholder="Enter Keywords" />
							<input type="submit" value="" />
						</div>
					</div>
					<div class="main__three">
						<div class="main__three_book-block">
							<img src="1.png" />
							<span class="book-title">Jewels of Nizam</span>
							<span class="book-autor">by Geeta Devi</span>
							<div class="rating">
								<img src="rating_1.png" />
								<img src="rating_1.png" />
								<img src="rating_1.png" />
								<img src="rating_1.png" />
								<img src="rating_1.png" />
							</div>	
						</div>
						<div class="main__three_book-block">
							<img src="2.png" />
							<span class="book-title">Cakes & Bakes</span>
							<span class="book-autor">by Sanjeev Kapoor</span>
							<div class="rating">
								<img src="rating_1.png" />
								<img src="rating_1.png" />
								<img src="rating_1.png" />
								<img src="rating_1.png" />
								<img src="rating_1.png" />
							</div>	
						</div>
						<div class="main__three_book-block">
							<img src="3.png" />
							<span class="book-title">Jamie's Kitchen</span>
							<span class="book-autor">by Jamie Oliver</span>
							<div class="rating">
								<img src="rating_1.png" />
								<img src="rating_1.png" />
								<img src="rating_1.png" />
								<img src="rating_1.png" />
								<img src="rating_5.png" />
							</div>	
						</div>
						<div class="main__three_book-block">
							<img src="4.png" />
							<span class="book-title">Inexpensive Family Meals</span>
							<span class="book-autor">by Simon Holst</span>
							<div class="rating">
								<img src="rating_1.png" />
								<img src="rating_1.png" />
								<img src="rating_1.png" />
								<img src="rating_1.png" />
								<img src="rating_0.png" />
							</div>	
						</div>
						<div class="main__three_book-block">
							<img src="5.png" />
							<span class="book-title">Paleo Slow Cooking</span>
							<span class="book-autor">by Chrissy Gower</span>
							<div class="rating">
								<img src="rating_1.png" />
								<img src="rating_1.png" />
								<img src="rating_1.png" />
								<img src="rating_1.png" />
								<img src="rating_5.png" />
							</div>	
						</div>
						<div class="main__three_book-block">
							<img src="6.png" />
							<span class="book-title">Cook Like an Italian</span>
							<span class="book-autor">by Tobie Puttock</span>
							<div class="rating">
								<img src="rating_1.png" />
								<img src="rating_1.png" />
								<img src="rating_1.png" />
								<img src="rating_1.png" />
								<img src="rating_0.png" />
							</div>	
						</div>
						<div class="main__three_book-block">
							<img src="7.png" />
							<span class="book-title">Suneeta Vaswani</span>
							<span class="book-autor">by Geeta Devi</span>
							<div class="rating">
								<img src="rating_1.png" />
								<img src="rating_1.png" />
								<img src="rating_1.png" />
								<img src="rating_1.png" />
								<img src="rating_1.png" />
							</div>	
						</div>
						<div class="main__three_book-block">
							<img src="8.png" />
							<span class="book-title">Jamie Goes</span>
							<span class="book-autor">by Jamie Oliver</span>
							<div class="rating">
								<img src="rating_1.png" />
								<img src="rating_1.png" />
								<img src="rating_1.png" />
								<img src="rating_1.png" />
								<img src="rating_0.png" />
							</div>	
						</div>
						<div class="main__three_book-block">
							<img src="9.png" />
							<span class="book-title">Jemie's italy</span>
							<span class="book-autor">by Jamie Oliver</span>
							<div class="rating">
								<img src="rating_1.png" />
								<img src="rating_1.png" />
								<img src="rating_1.png" />
								<img src="rating_1.png" />
								<img src="rating_1.png" />
							</div>	
						</div>
						<div class="main__three_book-block">
							<img src="10.png" />
							<span class="book-title">Vegetables Cookbook</span>
							<span class="book-autor">by Matthew Biggs</span>
							<div class="rating">
								<img src="rating_1.png" />
								<img src="rating_1.png" />
								<img src="rating_1.png" />
								<img src="rating_5.png" />
								<img src="rating_0.png" />
							</div>	
						</div>
					</div>
				</div>
			</main>
		</div>
		<footer>
			<div class="footer">
				<div class="footer__right">
					<div class="footer__right__gray">
						<img class="footer__img" src="question.png" />
					</div>
					<div class="footer__right__blue">
						<img class="footer__img" src="setting.png" />
					</div>
				</div>
			</div>
		</footer>
	</body>
</html> 